{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="category-title">Web Design</div>
                </div>
            </div>
            <div class="row rix-categories">
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        {% image '@CoreBundle/Resources/public/assets/img/learn-sf.png' %}
                            <div style="background-image: url('{{ asset_url }}')"></div>
                        {% endimage %}
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">CSS</a>
                            </div>
                            <div class="post-title">
                                <a href="#">Selecting Parent Elements with CSS and jQuery</a>
                            </div>
                            <div class="posted-by">
                                <a href="#">Thoriq Firdaus</a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">10 days ago</div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>
                <div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        {% image '@CoreBundle/Resources/public/assets/img/learn-sf.png' %}
                            <div style="background-image: url('{{ asset_url }}')"></div>
                        {% endimage %}
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">CSS</a>
                            </div>
                            <div class="post-title">
                                <a href="#">Selecting Parent Elements with CSS and jQuery</a>
                            </div>
                            <div class="posted-by">
                                <a href="#">Thoriq Firdaus</a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">10 days ago</div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>
                <div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        {% image '@CoreBundle/Resources/public/assets/img/learn-sf.png' %}
                            <div style="background-image: url('{{ asset_url }}')"></div>
                        {% endimage %}
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">CSS</a>
                            </div>
                            <div class="post-title">
                                <a href="#">Selecting Parent Elements with CSS and jQuery</a>
                            </div>
                            <div class="posted-by">
                                <a href="#">Thoriq Firdaus</a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">10 days ago</div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>

                <div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        {% image '@CoreBundle/Resources/public/assets/img/learn-sf.png' %}
                            <div style="background-image: url('{{ asset_url }}')"></div>
                        {% endimage %}
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">CSS</a>
                            </div>
                            <div class="post-title">
                                <a href="#">Selecting Parent Elements with CSS and jQuery</a>
                            </div>
                            <div class="posted-by">
                                <a href="#">Thoriq Firdaus</a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">10 days ago</div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>
                <div class="col-xs-8 col-xs-offset-2  col-sm-6  col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        {% image '@CoreBundle/Resources/public/assets/img/learn-sf.png' %}
                            <div style="background-image: url('{{ asset_url }}')"></div>
                        {% endimage %}
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">CSS</a>
                            </div>
                            <div class="post-title">
                                <a href="#">Selecting Parent Elements with CSS and jQuery</a>
                            </div>
                            <div class="posted-by">
                                <a href="#">Thoriq Firdaus</a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">10 days ago</div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>
                <div class="col-xs-8 col-xs-offset-2  col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        {% image '@CoreBundle/Resources/public/assets/img/learn-sf.png' %}
                            <div style="background-image: url('{{ asset_url }}')"></div>
                        {% endimage %}
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">CSS</a>
                            </div>
                            <div class="post-title">
                                <a href="#">Selecting Parent Elements with CSS and jQuery</a>
                            </div>
                            <div class="posted-by">
                                <a href="#">Thoriq Firdaus</a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">10 days ago</div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
