{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="category-title">Web Design</div>
                </div>
            </div>
            <div class="row rix-categories">
                {%  for i in 0..23 %}
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        <img src="http://{{res[i]['THUMBNAILXLARGEURL']}}", height = "150" width = "260">
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">Tags : {{res[i]['TAG']}}</a>
                            </div>
                            <div class="post-title">
                                <a href="#">Title : {{res[i]['TITLE']}}</a>
                            </div>
                            <div class="posted-by">
                                <a href="#">{{res[i]['USERNAME']}}</a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">{{ res[i]['CREATED'] }}</div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
