{% extends '::base.html.twig' %}

{% block body %}

    <section class="margin-bottom-30">
        <div class="user-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 category-title">
                        {{ language }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="margin-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by type
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu filter-by-type">
                            <li><a href="{{ path('rix_core_user_category', {'language': language, 'type': 'article' }) }}">Article</a></li>
                            <li><a href="{{ path('rix_core_user_category', {'language': language, 'type': 'slides' }) }}">Slides</a></li>
                            <li><a href="{{ path('rix_core_user_category', {'language': language, 'type': 'video' }) }}">Video</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12 delimiter">
                    Articles
                </div>
            </div>
            <div class="row rix-categories">
                {% if articles|length != 0 %}
                    {% for i in 0..min(articles|length - 1,15) %}
                        {% if(articles[i]['feedId'] is defined and articles[i]['deliciousTags'] is defined
                        and articles[i]['website'] is defined and articles[i]['subscribers'] is defined and articles[i]['title'] is defined)%}
                            <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
                                <div class="rix-post" >
                                    <a href="{{ path('rix_core_user_category_type_article',{'language' : articles[i]['feedId']}) }}" >
                                        <div class="rix-category"
                                            {% if articles[i]['visualUrl'] is defined %}
                                                style="background-image: url({{articles[i]['visualUrl']}})"
                                            {% else %}
                                                style="background-image: url('https://www.dwolla.com/avatars/812-999-0092')"
                                            {% endif %}
                                        ></div>
                                    </a>
                                    <div class="rix-post-details">
                                        <div class="post-tags">


                                            {% set foo = articles[i]['deliciousTags']%}
                                            {% for tag in foo %}
                                                <a href="{{ path('rix_core_user_category', {'language':tag|trim|replace({'/':''})}) }}">{{tag}}</a>
                                            {% endfor %}
                                        </div>
                                        <div class="post-title">
                                            <a href="{{ path('rix_core_user_category_type_article',{'language' : articles[i]['feedId']}) }}" >
                                                {% autoescape %}
                                                    {{articles[i]['title']|raw}}
                                                {% endautoescape %}
                                            </a>
                                        </div>
                                        <div class="posted-by">
                                            <a href="#">{{articles[i]['website'][0:17]}}</a>
                                            {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                            <img src="{{ asset_url }}"/>
                                            {% endimage %}
                                        </div>
                                        <div class="posted-at">{{ articles[i]['subscribers'] }}</div>
                                    </div>
                                    <!--<div class="author"></div>-->
                                </div>
                            </div>
                        {%endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}
