{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="category-title">Web Design</div>
                </div>
            </div>
            <div class="row rix-categories">
                {% for i in 1..7 %}
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >

                        <img src="{{videos["body"]["data"][i]["pictures"]["sizes"][2]["link"]}}" width="260" height="150">
                        <div class="rix-post-details">
                            <div class="post-tags">
                                <a href="#">
                                    {% for tag in videos["body"]["data"][i]["tags"] %}
                                        {{ tag["name"] }}
                                    {% endfor %}
                                </a>
                            </div>
                            <div class="post-title">
                                <a href="#">
                                    {{ videos["body"]["data"][i]["name"] }}
                                </a>
                            </div>
                            <div class="posted-by">
                                <a href="#">
                                    {{ videos["body"]["data"][i]["user"]["name"] }}
                                </a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">
                                {{ videos["body"]["data"][i]["created_time"][0:10] }}
                            </div>
                        </div>
                        <div class="author"></div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
