{% extends '::base.html.twig' %}

{% block body %}

    <section class="margin-bottom-30">
        <div class="user-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-10 col-xs-offset-1 category-title">
                        {{ language }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="margin-bottom-30">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="dropdown">
                        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Filter by type
                            <span class="caret"></span></button>
                        <ul class="dropdown-menu filter-by-type">
                            <li><a href="#" data-link="{{ path('rix_core_user_get_language_type', {'language': language, 'type': 'article' }) }}">Article</a></li>
                            <li><a href="#" data-link="{{ path('rix_core_user_get_language_type', {'language': language, 'type': 'slides' }) }}">Slides</a></li>
                            <li><a href="#" data-link="{{ path('rix_core_user_get_language_type', {'language': language, 'type': 'video' }) }}">Video</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div id="preloader">
            {% image '@CoreBundle/Resources/public/assets/img/preloader.gif' %}
            <img src="{{ asset_url }}"/>
            {% endimage %}
        </div>
        <div class="container" id="div-test">
            <div class="row">
                <div class="col-xs-12 delimiter">
                    Videos<br />
                    {# videos["body"]["total"] }} <br />
                    {{ videos["body"]["paging"]["last"] #}
                </div>
            </div>
            <div class="row rix-categories">
                {% if videos["body"]["data"] is defined %}
                {% if videos["body"]["data"]|length != 0 %}
                {% for i in 0..min(videos["body"]["data"]|length - 1,15) %}
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                        <a href="{{ path('rix_core_user_category_detail', {'language':language, 'api': 'vimeo', 'id':videos["body"]["data"][i]["uri"][8:]}) }}">
                            <div class="rix-category"
                                 style="background-image: url('{{videos["body"]["data"][i]["pictures"]["sizes"][2]["link"]}}')"></div>
                        </a>

                        <div class="rix-post-details">
                            <div class="post-tags">
                                {% for j in 0..2 %}
                                    {% if(videos["body"]["data"][i]["tags"]|length > j) %}
                                        <a href="{{ path('rix_core_user_category', {'language':videos["body"]["data"][i]["tags"][j]["name"]|trim|replace({'/':''})}) }}">{{videos["body"]["data"][i]["tags"][j]["name"]}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="post-title">
                                <a href="{{ path('rix_core_free_user_category_detail', {'language':language, 'api': 'vimeo', 'id':videos["body"]["data"][i]["uri"][8:]}) }}">
                                        {{videos["body"]["data"][i]["name"] }}
                                </a>
                            </div>
                            <div class="posted-by">
                                <a href="#">
                                    {{ videos["body"]["data"][i]["user"]["name"][0:17] }}
                                </a>
                                {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                    <img src="{{ asset_url }}"/>
                                {% endimage %}
                            </div>
                            <div class="posted-at">
                                {{ videos["body"]["data"][i]["created_time"] }}
                            </div>
                        </div>
                        <!--<div class="author"></div>-->
                    </div>
                </div>
                {% endfor %}
                {% endif %}
                {% endif %}
            </div>
            <div class="row">
            <div class="col-xs-12 pagination">
                {% if page is not defined %}
                    {% set page = 1 %}
                {% endif %}
                <a class="pagination_arrow-button pagination_prev-button"  href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': page - 1}) }}">
                    {% image '@CoreBundle/Resources/public/assets/img/arrow-right.png' %}
                        <img src="{{ asset_url }}"/>
                    {% endimage %}
                </a>
                <a class="pagination_button {% if page == 1 %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category', {'language': language }) }}">1</a>
                {% if page < 6 %}
                    {% for i  in 2..page + 1 %}
                        <a class="pagination_button {% if page == i %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': i}) }}">{{ i }}</a>
                    {% endfor %}
                {% else %}
                    <a class="pagination_button {% if page == 2 %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': '2'}) }}">2</a>
                    <a class="pagination_button {% if page == 3 %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': '3'}) }}">3</a>
                    <div class="pagination-delimiter">...</div>
                    {% if page >= lastPage-2 %}
                        {% if page == lastPage-2 %}
                            <a class="pagination_button {% if page == lastPage-3 %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': lastPage-3}) }}">{{ lastPage-3 }}</a>
                        {% endif %}
                        <a class="pagination_button {% if page == lastPage-2 %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': lastPage-2}) }}">{{ lastPage-2 }}</a>
                        <a class="pagination_button {% if page == lastPage-1 %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': lastPage-1}) }}">{{ lastPage-1 }}</a>
                    {% else %}
                        {% for i  in page - 2..page + 2 %}
                            <a class="pagination_button {% if page == i %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': i}) }}">{{ i }}</a>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                {% if page < lastPage-4 %}
                <div class="pagination-delimiter">...</div>
                    {% for i in lastPage-2..lastPage-1 %}
                        <a class="pagination_button {% if page == i %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': i}) }}">{{ i }}</a>
                    {% endfor %}
                {% endif %}
                <a class="pagination_button {% if page == lastPage %} pagination_button-active {% endif %}" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': lastPage}) }}">{{ lastPage }}</a>
                <a class="pagination_arrow-button pagination_next-button" href="{{ path('rix_core_user_category_by_page', {'language': language, 'api': 'video', 'page': page + 1}) }}">
                    {% image '@CoreBundle/Resources/public/assets/img/arrow-right.png' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                </a>
            </div>
            </div>
        </div>
    </section>
{% endblock %}
