{% extends '::base.html.twig' %}

{% block body %}
    <section>
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="category-title">{{ res['0']['origin']['title'] }}</div>
                </div>
            </div>
            <div class="row rix-categories">
                {%  for i in 0..15 %}
                    <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
                        <div class="rix-post" >
                            {%   if res[i]['thumbnail']['0']['url'] is defined    %}
                                <div style="background-image: url({{ res[i]['thumbnail']['0']['url']}})"></div>
                            {% else %}
                                <div style="background-image: url('https://www.dwolla.com/avatars/812-999-0092')"></div>
                            {% endif %}
                            <div class="rix-post-details">
                                <div class="post-tags">

                                </div>
                                <div class="post-title">
                                    <a href="{{ path('rix_core_user_category_detail', {'language': res[i]['origin']['title'], 'api' : 'feedly', 'id': res[i]['id'] }) }}">{{res[i]['title']}}</a>
                                </div>
                                <div class="posted-by">
                                    {%   if res[i]['author'] is defined    %}
                                        <a href="#">{{res[i]['author']}}</a>
                                    {% else %}
                                        <a>No author</a>
                                    {% endif %}
                                    {% image '@CoreBundle/Resources/public/assets/img/plus.png' %}
                                        <img class="add-to-favorite" data-link="{{ path('rix_core_user_favorite_add', {'language': res[i]['origin']['title'], 'type': 'article', 'key': res[i]['id']}) }}" src="{{ asset_url }}"/>
                                    {% endimage %}
                                </div>

                                <div class="posted-at"> {{ data[i] }} </div>
                            </div>
                            <div class="author"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="more-items">
                <div id="preloader">
                    {% image '@CoreBundle/Resources/public/assets/img/preloader.gif' %}
                    <img src="{{ asset_url }}"/>
                    {% endimage %}
                </div>
                <div class="row">
                    <div class="col-xs-12 text-align-center">
                        <div class="view-more" data-link="{{ path('rix_core_user_load_more', {'api': 'feedly', 'language': feedId, 'nextId': nextId}) }}">Load more</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
