<div class="row">
    <div class="col-xs-12 delimiter">
        Slides
    </div>
</div>
<div class="row rix-categories">
    {% if slideshares|length %}
        {% for i in 0..slideshares|length - 1 %}
            {% if(slideshares[i]['ID'] is defined and slideshares[i]['TAG'] is defined
            and slideshares[i]['USERNAME'] is defined and slideshares[i]['CREATED'] is defined and slideshares[i]['TITLE'] is defined)%}
                <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
                    <div class="rix-post" >
                            <div class="rix-category" style="background-image: url('http://{{slideshares[i]['THUMBNAILXLARGEURL']}}')">
                                <div class="rix-remove-favorite">
                                    {% image '@CoreBundle/Resources/public/assets/img/remove-favorite.png' %}
                                        <img src="{{ asset_url }}" class=""
                                             data-link="{{ path('rix_core_user_remove_favorite',{'id': slideshares[i]['ID']}) }}"
                                             data-reload="{{ path('rix_core_user_get_language_type', {type: 'slide'}) }}"
                                        />
                                    {% endimage %}
                                </div>
                            </div>
                        <div class="rix-post-details">
                            <div class="post-tags">
                                {% set foo = slideshares[i]['TAG']|split(',') %}
                                {% for tag in foo %}
                                    <a href="{{ path('rix_core_user_category', {'language':tag|trim|replace({'/':''})}) }}">{{tag}}</a>
                                {% endfor %}
                            </div>
                            <div class="post-title">
                                <a href="{{ path('rix_core_user_category_detail', {'language':slideshares[i]['topic'], 'api': 'slide', 'id':slideshares[i]['ID']}) }}">
                                    {% autoescape %}
                                        {{slideshares[i]['TITLE']|raw}}
                                    {% endautoescape %}
                                </a>
                            </div>
                            <div class="posted-by">
                                {{slideshares[i]['USERNAME'][0:17]}}
                            </div>
                            <div class="posted-at">{{ slideshares[i]['CREATED'] }}</div>
                        </div>
                    </div>
                </div>
            {%endif %}
        {% endfor %}
    {% else %}
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-0 col-md-3">
            No slideshares added to favorite.
        </div>
    {% endif %}
</div>