<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}RIX{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('bundles/core/assets/bootstrap/css/bootstrap.min.css') }}"/>
            {% stylesheets '@CoreBundle/Resources/public/assets/css/*' filter='cssrewrite' %}
                <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}
        {% endblock %}
    </head>
    <body>
        <div class="responsive-wrapper-main">
            {% block header %}
                <header>
                    <nav id="navigation" class="fixed">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div class="logo">
                                        <a href="
                                            {% if app.user %}
                                                {{ path('rix_core_user_home') }}
                                            {% else %}
                                                {{ path('rix_core_free_user_home') }}
                                            {% endif %}
                                        ">
                                            <div>RiX.com</div>
                                            <div>Resource Interactive Explorer</div>
                                        </a>
                                    </div>
                                    {% if app.user %}
                                    {%  if app.request.get('_route') != 'rix_core_user_home' and
                                    app.request.get('_route') != 'rix_core_free_user_home' %}
                                        <div id="mini-search">
                                            <form action={{ path('rix_core_user_category' ,{'language'  : 'search' }) }} method="post">
                                                <input type="text" name="miniSearch" placeholder="Search for documents or skills you want to learn"/>

                                            </form>
                                        </div>
                                        {% endif %}
                                        <div id="account-wrapper">
                                            <div id="profile-picture">
                                                {% if app.user.imageName %}
                                                    <img src="{{ asset('images/products/' ~ app.user.imageName) }}"  alt="img" />
                                                {% else %}
                                                    <img src="{{ asset('bundles/core/assets/img/user.png') }}" alt="img" />
                                                {% endif %}
                                            </div>
                                            <div id="dropdown">
                                                {% image '@CoreBundle/Resources/public/assets/img/arrow-down.png' %}
                                                    <img src="{{ asset_url }}" class="menu-arrow dropbtn" alt="img" />
                                                {% endimage %}
                                                <div id="dropdown-content">
                                                    <div class="arrow-up"></div>
                                                    <a href="{{ path('rix_core_user_my_courses') }}">My courses</a>
                                                    <a href="{{ path('rix_core_user_account') }}">Personal Details</a>
                                                    <a href="{{ path('rix_core_user_change_email') }}">Change Email</a>
                                                    <a href="{{ path('rix_core_user_change_password') }}">Change Password</a>
                                                </div>
                                            </div>
                                        </div>
                                        <ul id="menu">
                                            <li><a href="{{ path('rix_core_user_home') }}">Home</a></li>
                                            <li><a href="#" class="dropcategories">Categories</a></li>
                                            <li><a href="{{ path('rix_core_user_logout') }}" id="sign-up">Sign Out</a></li>
                                            <div id="dropdown-categories">
                                                <div class="arrow-up"></div>
                                                <a href="{{ path('rix_core_user_category', {'language': 'java'}) }}">Learn Java</a>
                                                <a href="{{ path('rix_core_user_category', {'language': 'python'}) }}">Learn Python</a>
                                                <a href="{{ path('rix_core_user_category', {'language': 'php'}) }}">Learn PHP</a>
                                                <a href="{{ path('rix_core_user_category', {'language': 'ruby'}) }}">Learn Ruby</a>
                                                <a href="{{ path('rix_core_user_category', {'language': 'symfony'}) }}">Learn Symfony</a>
                                                <a href="{{ path('rix_core_user_category', {'language': 'android'}) }}">Learn Android</a>
                                            </div>
                                        </ul>
                                    {% else %}
                                        <ul id="menu">
                                            <li><a href="{{ path('rix_core_free_user_home') }}">Home</a></li>
                                            <li><a href="{{ path('rix_core_user_login') }}" id="sign-in">Sign In</a></li>
                                            <li><a href="{{ path('rix_core_user_register') }}" id="sign-up">Sign Up</a></li>
                                        </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </nav>
                    <nav id="navigation-mobile" >
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="menu-sandwich">
                                        {% image '@CoreBundle/Resources/public/assets/img/menu-mobile.png' %}
                                        <img src="{{ asset_url }}" alt="img" />
                                        {% endimage %}
                                    </div>
                                    <div class="logo">
                                        <div>RiX.com</div>
                                        <div>Resource Interactive Explorer</div>
                                    </div>
                                    <div id="search-mobile">
                                        {% image '@CoreBundle/Resources/public/assets/img/search-mobile.png' %}
                                        <img src="{{ asset_url }}" alt="img" />
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>

                    <!--- Mobile nav -->
                </header>
            {% endblock %}
            {% if app.request.get('_route') == 'rix_core_user_account' or
                  app.request.get('_route') == 'rix_core_user_change_email' or
                  app.request.get('_route') == 'rix_core_user_change_password' or
                  app.request.get('_route') == 'rix_core_user_my_courses'
            %}
                {% block user %}
                    <div id="user-menu-wrapper">
                        <div class="user-menu">
                            <section class="container">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1 user-email">
                                        {{ app.user.email }}
                                    </div>
                                </div>
                            </section>
                        </div>
                        <section>
                            <section class="container">
                                <div class="row">
                                    <div class="col-xs-10 col-xs-offset-1 user-menu-list">
                                        <ul>
                                            <li class="first-menu-item {% if app.request.get('_route') == 'rix_core_user_my_courses' %} menu-item-active {% endif %}"><a href="{{ path('rix_core_user_my_courses') }}">My courses</a></li>

                                            <li class="menu-item {% if app.request.get('_route') == 'rix_core_user_account' %} menu-item-active {% endif %}"><a href="{{ path('rix_core_user_account') }}">Personal Details</a></li>
                                            <li class="menu-item {% if app.request.get('_route') == 'rix_core_user_change_email' %} menu-item-active {% endif %}"><a href="{{ path('rix_core_user_change_email') }}">Change Email</a></li>
                                            <li class="menu-item {% if app.request.get('_route') == 'rix_core_user_change_password' %} menu-item-active {% endif %}"><a href="{{ path('rix_core_user_change_password') }}">Change Password</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </section>
                        </section>
                    </div>
                {% endblock %}
            {% endif %}
            {% block body %}
            {% endblock %}
            {% block footer %}
                <footer>
                    <div id="fat-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-2">
                                    <ul class="footer-category">
                                        <li>Documentation</li>
                                        <li><a href="http://symfony.com/" target="_blank">Symfony2</a></li>
                                        <li><a href="http://www.doctrine-project.org/" target="_blank">Doctrine</a></li>
                                        <li><a href="https://vimeo.com/" target="_blank">Vimeo</a></li>
                                        <li><a href="http://www.slideshare.net/" target="_blank">Slideshare</a></li>
                                        <li><a href="https://feedly.com/i/my" target="_blank">Feedly</a></li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-6">
                                    <ul class="footer-category" id="about-us">
                                        <li>About Us</li>
                                        <li>RIX is made by a team of 4 students from UAIC Iasi. The site was created
                                            in order to organize information from 3 different sites with reference to computer science domain.
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-4" id="connect-wrapper">
                                    <div id="connect">Connect</div>
                                    <ul id="social">
                                        <li>
                                            <a href="https://www.facebook.com/rixSitePage" target="_blank">
                                                {% image '@CoreBundle/Resources/public/assets/img/facebook.png' %}
                                                <img src="{{ asset_url }}" alt="img" />
                                                {% endimage %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/RiX_Site_Page" target="_blank">
                                                {% image '@CoreBundle/Resources/public/assets/img/twitter.png' %}
                                                <img src="{{ asset_url }}" alt="img" />
                                                {% endimage %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://plus.google.com/u/3/115353948070885776082?hl=ro" target="_blank">
                                                {% image '@CoreBundle/Resources/public/assets/img/google-plus.png' %}
                                                <img src="{{ asset_url }}" alt="img"  />
                                                {% endimage %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/in/rix-rix-30b600122" target="_blank">
                                                {% image '@CoreBundle/Resources/public/assets/img/linkdin.png' %}
                                                <img src="{{ asset_url }}" alt="img"/>
                                                {% endimage %}
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                {% image '@CoreBundle/Resources/public/assets/img/email.png' %}
                                                <img src="{{ asset_url }}" alt="img" />
                                                {% endimage %}
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="fit-footer">
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12">
                                    <div id="copyright">
                                        &#169;2016 RiX.com
                                    </div>
                                    <div id="bottom-logo">
                                        <div>RiX.com</div>
                                        <div>Resource Interactive Explorer</div>
                                        {% image '@CoreBundle/Resources/public/assets/img/scroll-arrow.png' %}
                                        <img src="{{ asset_url }}" alt="img"  class="scroll"/>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            {% endblock %}
        </div>
        {% block javascripts %}
            <script src="{{ asset('bundles/core/assets/js/jquery-1.12.4.min.js') }}"></script>
            <script src="{{ asset('bundles/core/assets/bootstrap/js/bootstrap.min.js') }}"></script>
            {% javascripts '@CoreBundle/Resources/public/assets/js/*' %}
                <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
            <script>
                $(document).ready(function(){
                    $('.scroll').click(function(){
                        $(document).scrollTop();
                        $("body,html").animate({ scrollTop: 0 }, "slow");
                    });

                    $('.dropbtn').hover(function(){
                        $('#dropdown-content').css('display','block');
                    }, function(){
                    });

                    $('#dropdown-content').hover(function(){},function(){
                        $('#dropdown-content').css('display','none');
                    });

                    $('.dropcategories').hover(function(){
                        $('#dropdown-categories').css('display','block');
                    }, function(){
                    });

                    $('#dropdown-categories').hover(function(){},function(){
                        $('#dropdown-categories').css('display','none');
                    });
                });

                $(document).on({
                    mouseenter: function() {
                        $(this).find('.rix-remove-favorite').css('display', 'block');
                    },
                    mouseleave: function() {
                        $(this).find('.rix-remove-favorite').css('display', 'none');
                    }
                }, '.rix-category');
            </script>
        {% endblock %}
    </body>
</html>
