{% autoescape %}
    <h3> Title : {{slideinfo['TITLE']|raw}}</h3>
    <h3> Author  : {{ slideinfo['USERNAME']|raw}}</h3>
    <h3> Creation Time  : {{ slideinfo['CREATED']|raw}}</h3>
    <h3> URL :  {{ slideinfo['URL']|raw}}</h3>
    <h3> Tags  : {{ slideinfo['TAG']|raw}} </h3>
    <h3> Description  :  {{ slideinfo['DESCRIPTION']|raw}}</h3>
    <h3> Presentation : </h3>
    {{ slideinfo['EMBED']|raw }}
{% endautoescape %}